<script>
    window.sessionStorage;  // <!-- this is to activate session storage-->
    sessionStorage.setItem("User_ID","1");
</script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    

    <title>Add a rental</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        .form-group{
            margin-bottom:10px;
        }
    </style>

</head>

<body>
    <h1 class="display-4 m-4 container mx-auto">Add a rental</h1>
    
    <form id='addRentalForm' class="p-4 container">
        <div class="form-group" >
            <input type="hidden" class="form-control " id="owner_id" placeholder="">
        </div>
        <!-- this part should not be a form input but passed into using the complex microservce -->

        <div class="form-group">
            <label for="listing">Listing ID</label>
            <input type="text" class="form-control" id="listing_id" placeholder="Enter the listing you want to rent">
        </div>
        <!-- this part should not be a form input but passed into using the complex microservce -->

        <div class="form-group">
            <label for="renter">Renter</label>
            <input type="text" class="form-control" id="renter" placeholder="Enter your renter ID">
        </div>
        <!-- this part should not be a form input but passed into using the complex microservce -->
        <div class="form-group">
            <label for="rent_start_date">Rental Start Date</label>
            <input type="date" class="form-control" id="rent_start_date" placeholder="Enter the start date of rental">
        </div>
        <div class="form-group">
            <label for="rent_end_date">Rental End Date </label>
            <input type="date" class="form-control" id="rent_end_date" placeholder="Enter the end date of rental">
        </div>
        <div class="form-group">
            <label for="price">Total Price of Rental</label>
            <input type="text" class="form-control" id="price" placeholder="$">
        </div>
    
       
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    <label id="error" class="text-danger"></label>
    <script>

        // Helper function to display error message
        function showError(message) {
            // Display an error under the the predefined label with error as the id
            $('#error').text(message);
        }


        $("#addRentalForm").submit(async (event) => {
            //Prevents screen from refreshing when submitting
            event.preventDefault();

            var serviceURL = "http://localhost:5000/rental";

            //Get form data
            var owner = sessionStorage.getItem("User_ID"); //Retreive from sessionstorage
            var listing_id = $('#listing_id').val();
            var price = parseFloat($('#price').val());
            var renter = $('#renter').val();
            var rent_start_date = $('#rent_start_date').val();
            var rent_end_date = $("#rent_end_date").val()
            
            try {
                const response =
                    await fetch(
                        serviceURL, {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({renter_id:renter, rent_start_date:rent_start_date, rent_end_date:rent_end_date,listing_id:listing_id, owner_id:owner, price:price})
                    });
                const data = await response.json();

                if (response.ok) {
                    // relocate to home page
                    window.location.replace("index.html");
                    return false;
                } else {
                    console.log(data);
                    showError(data.message);
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
                    ("There is a problem adding this listing, please try again later. " + error);

            } // error
        });
    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>

</html>
