<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Add a Listing</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        .form-group{
            margin-bottom:10px;
        }
    </style>

</head>

<body>
    <h1 class="display-4 m-4 container mx-auto">Add a Listing</h1>
    
    <form id='addListForm' class="p-4 container">
        <div class="form-group">
            <label for="title">Owner</label>
            <input type="text" class="form-control " id="owner_id" placeholder="">
        </div>
        <div class="form-group">
            <label for="isbn13">Model</label>
            <input type="text" class="form-control" id="model" placeholder="e.g. Nikon Z 7 Mirrorless Digital Camera with 24-70mm Lens and FTZ Adapter">
        </div>
        <div class="form-group">
            <label for="availability">Description</label><br />
            <input type="text" class="form-control" id="listing_description" placeholder="e.g. Bought in 2006, my favourite lens/camera">
        </div>
        <div class="form-group">
            <label for="isbn13">Brand</label>
            <input type="text" class="form-control" id="brand" placeholder="e.g. Canon">
        </div>
        <div class="form-group">
            <label for="price">Price ($)</label>
            <input type="text" class="form-control" id="price" placeholder="e.g. 4195.00">
        </div>
        <div class="form-group">
            <label for="price">Daily Rate ($/Day)</label>
            <input type="text" class="form-control" id="daily_rate" placeholder="e.g. 15">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    <label id="error" class="text-danger"></label>
    <script>
        // Helper function to display error message
        function showError(message) {
            // Display an error under the the predefined label with error as the id
            $('#error').text(message);
        }

        $("#addListForm").submit(async (event) => {
            //Prevents screen from refreshing when submitting
            event.preventDefault();

            var serviceURL = "http://127.0.0.1:5000/listing";

            //Get form data
            var owner = ("#owner_id").val();
            var description = $('#listing_description').val();
            var price = parseFloat($('#price').val());
            var availabiltity = true;
            var brand = $('#brand').val();
            var model = $('#model').val();
            var image = "https://cdn-icons.flaticon.com/png/512/2668/premium/2668896.png?token=exp=1648136178~hmac=390c472d50f5f1e9ee518a2c89658b86";

            try {
                const response =
                    await fetch(
                        serviceURL, {
                        method: 'POST',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({ owner_id:owner, listing_description: description, brand:brand, model:model, price:price, availabiltity:availabiltity, image_url:image})
                    });
                const data = await response.json();

                if (response.ok) {
                    // relocate to home page
                    window.location.replace("index.html");
                    return false;
                } else {
                    console.log(data);
                    showError(data.message);
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
                    ("There is a problem adding this listing, please try again later. " + error);

            } // error
        });
    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>

</html>