<script>
    window.sessionStorage;  // <!-- this is to activate session storage-->
    sessionStorage.setItem("User_ID","peter@gmail.com");
</script>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    

    <title>Update listing</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        .form-group{
            margin-bottom:10px;
        }
    </style>

</head>

<body>
    <h1 class="display-4 m-4 container mx-auto">Update Listing</h1>

    <div id="message" style = "display: none"class="p-3 mb-2 bg-success text-light"> You have sucessfully updated listing.</div>

    <div id="results">
        <table id="rentalTable" class='table table-striped border-1' id='rental-list' >
            <thead class='border-1'>
                <th>Image</th>
                    <th>Listing ID</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Daily Rate</th>
                    <th>Description</th>
                    <th>Availability</th>
                    <th> </th>

            </thead>
        </table>
    </div>


    <form id="update" method="GET"></form>


    <label id="error" class="text-danger"></label>

    <script>




        // Helper function to display error message
        function showError(message) {
            // Display an error under the the predefined label with error as the id
            $("#results").hide();
            $('#error').text(message);
            $('#error').show();
            $('#status').hide();
            $('#delete').hide();
        }

        $(async (event) => {

            //Get form data
            var owner = sessionStorage.getItem("User_ID")
            var serviceURL = "http://localhost:5304/listing"

            try {
                    const response =
                        await fetch(
                            serviceURL, { method: 'GET' }
                        );
                    const data = await response.json();

                    if (response.status === 200) {
                        var listings = data.data.listings;

                        var avai ="";
                        for (r of listings){
                            if(r.availabiltity==true){
                                avai="Available";
                            }
                            else{
                                avai="Not Available";
                            }

                            if(r.owner_id == sessionStorage.getItem("User_ID")){

                                row ="<tr><td><img width=150 height=130 src='" + r.image_url + "'></td>"  +
                                        "<td> <input type='text' id='list_id' value='" + r.listing_id+ "' readonly></td>" +
                                        "<td><input type='text' id='brand' value='" + r.brand + "'></td>" +
                                        "<td><input type='text' id='model' value='" + r.model + "'></td>" +
                                        "<td><input type='text' id='price' value='" + r.price + "'></td>" +
                                        "<td><input type='text' id='price' value='" + r.daily_rate + "'></td>" +
                                        "<td><input type='text' id='description' value='" + r.listing_description + "'></td>" +
                                        "<td>" + avai + "</td>"+
                                        "<td> <button onClick ='onUpdate("+r.listing_id+")' id ='updatebutton" + r.listing_id + "'  "
                                            + "type='button' class='btn btn-danger btn-default active' value =' "+ r.listing_id+ " '> Update </button> </td>"; 

                                // add all the rows to the table
                                $('#rentalTable').append(row);
                            }
                        }
                    } else if (response.status == 404) {
                        // No books
                        showError(result.message);
                    } else {
                        // unexpected outcome, throw the error
                        throw response.status;
                    }
                
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
                    ("There are no rental request, please try again later. " + error);

            } // error
        });

        async function onUpdate(x) {
            //Prevents screen from refreshing when submitting
            event.preventDefault();

            //Get form data
            var listing_id = $('#list_id').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var price = parseFloat($('#price').val());
            var daily_rate = parseFloat($("#daily_rate").val());
            var listing_description = $('#description').val();

            

            var serviceURL = "http://localhost:5304/listing" +"/"+ listing_id;
            
            try {
                const response =
                    await fetch(
                        serviceURL,{method: 'PUT',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify(
                            {listing_id:listing_id,
                            brand:brand,
                            model:model,
                            price:price, 
                            daily_rate:daily_rate, 
                            listing_description:listing_description})

            });
                const data = await response.json();


                if (response.ok) {
                    // open up ok message
                    console.log(response);
                    window.location.replace("my-listing.html");
                    message = document.getElementById("message")
                    return false;

                } else {
                    console.log(data);
                    showError(data.message);
                }

            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
                    ("There is a problem adding this update, please try again later. " + error);

            } // error
        };


    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>


</html>
