<!DOCTYPE html>
<script>
    window.sessionStorage; 
    sessionStorage.setItem("listing_id","1");
    sessionStorage.setItem("owner_id","1");
</script>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Update a Listing</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        .form-group{
            margin-bottom:10px;
        }
    </style>

</head>

<body>
    <h1 class="display-4 m-4 container mx-auto">Update a Listing</h1>
         
    <div id="main-container" class="container">
        <form id='submitListForm'>
        <h1 class="display-4">Listing</h1>
        <table class='table table-striped border-1'>
            <thead class='table-dark'>
                <tr>
                    <th>Image</th>
                    <th>Model</th>
                    <th>Description</th>
                    <th>Brand</th>
                    <th>Rental Rate</th>
                    <th>Availability</th>
                    <th>Price</th>
                </tr>
            </thead>
        	<tbody id="ListingTable"></tbody>
        </table>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
  
    <label id="error" class="text-danger"></label>
    <script>
        list_id=sessionStorage.getItem("listing_id");
        console.log(list_id);
        // Helper function to display error message
        function showError(message) {
            // Hide the table and button in the event of error
            $('#ListingTable').hide();
            $('#addListingBtn').hide();
     
            // Display an error under the main container
            $('#main-container')
                .append("<label>"+message+"</label>");
        }
     
        // anonymous async function 
        // - using await requires the function that calls it to be async
        $(async() => {           
            // Change serviceURL to your own
            var serviceURL = "http://127.0.0.1:5000/listing/"+list_id;

            console.log(serviceURL);
            try {
                const response =
                 await fetch(
                   serviceURL, { method: 'GET' }
                );
                const result = await response.json();
                 if (response.status === 200) {
                    // success case
                    var listings = result.data;
                    console.log(listings); //the array is in books within data of 
                                                   // the returned result
                    // for loop to setup all table rows with obtained book data
                    var rows = "";
                    var availabiltity="";
                  
                        if(listings.availabiltity == true){
                            availabiltity = "Available"
                        }
                        else
                        {
                            availabiltity = "Not Available"
                        }

                        eachRow ="<td><img width='150' height='100' id='image_url' src='" + listings.image_url + "'></td>" +
                        "<td><input type='text' class='form-control' id='model' value='" + listings.model + "'</td>" +
                        "<td><input type='text' class='form-control' id='listing_description' value='" + listings.listing_description + "'</td>" +
                        "<td><input type='text' class='form-control' id='brand' value='" + listings.brand + "'</td>" +
                        "<td><input type='text' class='form-control' id='daily_rate' value='" + listings.daily_rate + "'</td>"+
                        "<td><input type='text' class='form-control' id='availabiltity' value='" + listings.availabiltity + "'</td>"
                        + "<td><input type='text' class='form-control' id='price' value='" + listings.price + "'</td>";
                       rows += "<tr>" + eachRow + "</tr>";
                    
                        // add all the rows to the table
                        $('#ListingTable').append(rows);
                    } else if (response.status == 404) {
                        // No books
                        showError(result.message);
                    } else {
                        // unexpected outcome, throw the error
                        throw response.status;
                    }
                } catch (error) {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    showError('There is a problem retrieving Listing data, please try again later.<br />' + error);
                } // error
        });

        $("#submitListForm").submit(async (event) => {
            //Prevents screen from refreshing when submitting
            event.preventDefault();

            var serviceURL = "http://127.0.0.1:5000/listing/"+list_id;

            //Get form data
            var description = $('#listing_description').val();
            var image = $('#image_url').val();
            var brand = $('#brand').val();
            var model = $('#model').val();
            var daily_rate = parseFloat($("#daily_rate").val());
            var price = parseFloat($("#price").val());
            var availabiltity = $("#availabiltity").val();

            if(availabiltity == true){
                availabiltity = 1
            }
            else
            {
                availabiltity = 0
            }

            own_id=sessionStorage.getItem("owner_id");
            console.log(own_id);
            
            try {
                const response =
                    await fetch(
                        serviceURL, {
                        method: 'PUT',
                        headers: { "Content-Type": "application/json" },
                        body: JSON.stringify({listing_id:list_id,availabiltity:availabiltity, brand:brand, daily_rate:daily_rate, image_url:image, listing_description:description, model:model, owner_id:own_id,price:price})
                    });
                const data = await response.json();

                if (response.ok) {
                    // relocate to home page
                    window.location.replace("index.html");
                    return false;
                } else {
                    console.log(data);
                    showError(data.message);
                }
            } catch (error) {
                // Errors when calling the service; such as network error, 
                // service offline, etc
                showError
                    ("There is a problem adding this listing, please try again later. " + error);

            } // error
        });
    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>

</html>
