<!DOCTYPE html>
<script>
    window.sessionStorage; 
    sessionStorage.setItem("listing_id","1");
</script>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Update a Listing</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Bootstrap libraries -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
        rel='stylesheet'
        integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
        crossorigin='anonymous'>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <style>
        .form-group{
            margin-bottom:10px;
        }
    </style>

</head>

<body>
    <h1 class="display-4 m-4 container mx-auto">Update a Listing</h1>
    
    <form id='addListForm' class="p-4 container">
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" id="model" placeholder="e.g. Nikon Z 7 Mirrorless Digital Camera with 24-70mm Lens and FTZ Adapter">
        </div>
        <div class="form-group">
            <label for="description">Description</label><br />
            <input type="text" class="form-control" id="listing_description" placeholder="e.g. Bought in 2006, my favourite lens/camera">
        </div>
        <div class="form-group">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" id="brand" placeholder="e.g. Canon">
        </div>
        <div class="form-group">
            <label for="price">Price ($)</label>
            <input type="text" class="form-control" id="price" placeholder="e.g. 4195.00">
        </div>
        <div class="form-group">
            <label for="daily_rate">Daily Rate ($/Day)</label>
            <input type="text" class="form-control" id="daily_rate" placeholder="e.g. 15">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
    <label id="error" class="text-danger"></label>
    <script>

        console.log(list_id);
        // Helper function to display error message
        function showError(message) {
            // Hide the table and button in the event of error
            $('#ListingTable').hide();
            $('#addListingBtn').hide();
     
            // Display an error under the main container
            $('#main-container')
                .append("<label>"+message+"</label>");
        }
     
        // anonymous async function 
        // - using await requires the function that calls it to be async
        $(async() => {           
            // Change serviceURL to your own
            var serviceURL = "http://127.0.0.1:5000/listing/"+list_id;
     
            try {
                const response =
                 await fetch(
                   serviceURL, { method: 'GET' }
                );
                const result = await response.json();
                 if (response.status === 200) {
                    // success case
                    var listings = result.data.listings;
                    console.log(listings); //the array is in books within data of 
                                                   // the returned result
                    // for loop to setup all table rows with obtained book data
                    var rows = "";
                    var availabiltity="";
                    for (const lists of listings) {
                        if(lists.availabiltity == true){
                            availabiltity = "Available"
                        }
                        else
                        {
                            availabiltity = "Not Available"
                        }
                       eachRow ="<td><img width='150' height='100' src='" + lists.image_url + "'></td>" +
                                "<td>" + lists.model + "</td>" +
                                "<td>" + lists.brand + "</td>" +
                                "<td> $" + lists.daily_rate + " /day</td>" +
                                "<td>" + availabiltity + "</td>"+
                                "<td><a href='update-listing.html'>Update Listing</a></td>" ;
                       rows += "<tr>" + eachRow + "</tr>";
                    }
                        // add all the rows to the table
                        $('#ListingTable').append(rows);
                    } else if (response.status == 404) {
                        // No books
                        showError(result.message);
                    } else {
                        // unexpected outcome, throw the error
                        throw response.status;
                    }
                } catch (error) {
                    // Errors when calling the service; such as network error, 
                    // service offline, etc
                    showError('There is a problem retrieving Listing data, please try again later.<br />' + error);
                } // error
        });
    </script>

    <!-- Bootstrap Javascript -->
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
        integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
        crossorigin='anonymous'></script>

</body>

</html>
